<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drinks
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="goToFilters()">
        <ion-icon name="funnel" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" >
    <div *ngFor="let category of filters | keyvalue">
      <ion-item  *ngIf="filters[category.key]">
        <app-cocktail-item [category]="category.key"></app-cocktail-item>
      </ion-item>
    </div>

  </ion-list>
</ion-content>
