<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drinks
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button href="cocktail-db/filters">
        <ion-icon name="funnel" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item  *ngFor="let drink of drinks">
      <ion-thumbnail slot="start">
        <ion-img [src]="drink.strDrinkThumb"></ion-img>
      </ion-thumbnail>
      <ion-text>{{drink.strDrink}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
