<ion-header>
  <ion-toolbar>

    <ion-title>filters</ion-title>
    <ion-back-button slot="start" defaultHref="/cocktail-db"></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let entry of filters | keyvalue">
      <ion-label>{{entry.key}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.value" (click)="toggleCheckbox(entry.key)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
  <ion-button color="dark" expand="full" (click)="saveChanges()">APPLY</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
